<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/pagina-simulador.css" />
    <script src="js/pagina-simulador.js" defer></script>
</head>

<body>
    <header>
        <div class=" topo d-flex flex-column flex-md-row align-items-center md-5 px-md-4 border-bottom shadow">
            <div class="nome d-flex flex-row align-items-center justify-content-between">
                <img id="logo" class="logo" src="img/Logo-claro.svg" alt="" draggable="false">
                <a href="/">
                    <span class="titulo" style="font-weight: 500">ElectraVerse</span>
                </a>
            </div>
            <nav class="my-2 my-md-9 mr-md-3 d-flex flex-row align-items-center justify-content-center">
            </nav>
        </div>
    </header>
    <main class="d-flex justify-content-center align-items-center m-0">
        <div class="funcoes d-flex justify-content-between-center w-100 m-0 p-0 col">
            <div class="rotate">
                <img id="rotate-left" src="img/icons8-gire-para-a-esquerda-96.png" alt="" draggable="false">
                <img id="rotate-right"src="img/icons8-gire-para-a-direita-96.png" alt="" draggable="false">
                <img id="rotate-img" onclick="rotateLastImage()" src="img/giro.png" alt="" draggable="false">
            </div>
            <div class="troca-cor">
                <img id="change-mode" src="img/icons8-lua-brilhante-96.png" alt=""draggable="false">
            </div>
        </div>
        <div class="simulacao d-flex justify-content-between-center w-100 m-0 p-0">
            <div class="componentes ">
                <ul>
                    <% for (let i = 0; i < componentes.length; i++) { %>
                        <li>
                            <img src="img/<%= componentes[i].Foto %>" class="card-img-top rounded-circle" draggable="true" data-src="img/<%= componentes[i].Foto %>" style="max-width: 80px; height: auto;" alt="componente">
                            <%= componentes[i].Nome %>
                            - <%= componentes[i].Valor %>
                            <%= componentes[i].Medida %> 
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="circuito ">
                <canvas class="canvas" id="canvas">
                    
                </canvas>
            </div>
        </div>
    </main>
</body>

</html>